Farm_LoRa_Slave3.json
[
    {
        "id": "ed2bbb03da555077",
        "type": "tab",
        "label": "플로우 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90a5cbf748ba457c",
        "type": "serial in",
        "z": "ed2bbb03da555077",
        "name": "",
        "serial": "0ea2fcaaccbfa388",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "49babef8e4eda933"
            ]
        ]
    },
    {
        "id": "0e4a26ed38eebbd9",
        "type": "json",
        "z": "ed2bbb03da555077",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "f6dcae3a574cb429"
            ]
        ]
    },
    {
        "id": "8954a2122375f9a9",
        "type": "ui_gauge",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "cba48ddcd68840a6",
        "type": "ui_gauge",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "Relative Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "49babef8e4eda933",
        "type": "function",
        "z": "ed2bbb03da555077",
        "name": "",
        "func": "var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "0e4a26ed38eebbd9",
                "bedd4d587fc3add2",
                "3781050e5c033447"
            ]
        ]
    },
    {
        "id": "ec1e81d8884c2fb2",
        "type": "switch",
        "z": "ed2bbb03da555077",
        "name": "",
        "property": "parts.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Dew_Temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Absolute_Humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Vapor_pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VPD",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CO2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "8954a2122375f9a9",
                "ee7157f5d7ef2f22"
            ],
            [
                "cba48ddcd68840a6",
                "b6109967356f3a34"
            ],
            [
                "e2b3ca8b0995e816",
                "d249530a129725af"
            ],
            [
                "2b84c56a7a7aea33",
                "5f2e7fb4ac130140"
            ],
            [
                "dc42566a0c148952",
                "745d26dd56723f50"
            ],
            [
                "fcdb9195b3f05316",
                "e503fc279344956d"
            ],
            [
                "0363e97d0364bc23",
                "4cb2c46c435ddc2e"
            ]
        ]
    },
    {
        "id": "f6dcae3a574cb429",
        "type": "split",
        "z": "ed2bbb03da555077",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 260,
        "wires": [
            [
                "ec1e81d8884c2fb2"
            ]
        ]
    },
    {
        "id": "e2b3ca8b0995e816",
        "type": "ui_gauge",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Dew-point Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "2b84c56a7a7aea33",
        "type": "ui_gauge",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 10,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Absolute Humidity",
        "label": "g/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "dc42566a0c148952",
        "type": "ui_gauge",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 12,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Vapour Pressure",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "fcdb9195b3f05316",
        "type": "ui_gauge",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 8,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "VPD",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "3781050e5c033447",
        "type": "ui_text",
        "z": "ed2bbb03da555077",
        "group": "5cabb239e50705dc",
        "order": 1,
        "width": 22,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "daefd44eeab79651",
        "type": "ui_text",
        "z": "ed2bbb03da555077",
        "group": "4d2eb5d9f450a3c9",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Greenhouse Windows",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "0363e97d0364bc23",
        "type": "ui_gauge",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 14,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "CO2",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 580,
        "wires": []
    },
    {
        "id": "ee7157f5d7ef2f22",
        "type": "ui_chart",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d249530a129725af",
        "type": "ui_chart",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Dew-point Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5f2e7fb4ac130140",
        "type": "ui_chart",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 11,
        "width": 6,
        "height": 4,
        "label": "Absolute Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "745d26dd56723f50",
        "type": "ui_chart",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 13,
        "width": 6,
        "height": 4,
        "label": "Vapour Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e503fc279344956d",
        "type": "ui_chart",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 9,
        "width": 6,
        "height": 4,
        "label": "VPD",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4cb2c46c435ddc2e",
        "type": "ui_chart",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 15,
        "width": 6,
        "height": 4,
        "label": "CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b6109967356f3a34",
        "type": "ui_chart",
        "z": "ed2bbb03da555077",
        "name": "",
        "group": "5cabb239e50705dc",
        "order": 7,
        "width": 6,
        "height": 4,
        "label": "Relative Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bedd4d587fc3add2",
        "type": "function",
        "z": "ed2bbb03da555077",
        "name": "replace char",
        "func": "msg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace('{', '');\nmsg.payload = msg.payload.replace('}', '');\nmsg.payload = msg.payload.replace('\"Temperature\",', '');\nmsg.payload = msg.payload.replace('\"Humidity\",', '');\nmsg.payload = msg.payload.replace('\"Dew_Temperature\",', '');\nmsg.payload = msg.payload.replace('\"Absolute_Humidity\",', '');\nmsg.payload = msg.payload.replace('\"Vapor_pressure\",', '');\nmsg.payload = msg.payload.replace('\"VPD\",', '');\nmsg.payload = msg.payload.replace('\"CO2\",', '');\n\nvar newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString();\n\nmsg.payload = date + \",\" + time + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 460,
        "wires": [
            [
                "7836920b1f11db79"
            ]
        ]
    },
    {
        "id": "7836920b1f11db79",
        "type": "file",
        "z": "ed2bbb03da555077",
        "name": "",
        "filename": "D:/Data/Greenhouse_ENV.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 590,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "69392a71f28360df",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "584aa1a33439f288",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "04dc32e3acd732af",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "86441952f0c05f1b",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "e0e67baf702082c3",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "7121dba9dd9a3d77",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "ccf9de076d04bd71",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "04daa024df518c7d",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "4d2eb5d9f450a3c9",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "13a83cf2a617dfa8",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "4d2eb5d9f450a3c9",
        "order": 18,
        "width": 11,
        "height": 1
    },
    {
        "id": "5c14db75c8b0a38f",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "4d2eb5d9f450a3c9",
        "order": 19,
        "width": 11,
        "height": 1
    },
    {
        "id": "023f0e6f2c5d2cf2",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "4d2eb5d9f450a3c9",
        "order": 20,
        "width": 11,
        "height": 1
    },
    {
        "id": "161405387265324c",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "4d2eb5d9f450a3c9",
        "order": 21,
        "width": 11,
        "height": 1
    },
    {
        "id": "e858123296af10e7",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "5cabb239e50705dc",
        "order": 16,
        "width": 11,
        "height": 1
    },
    {
        "id": "ac8640c50fc26745",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "5cabb239e50705dc",
        "order": 17,
        "width": 11,
        "height": 1
    },
    {
        "id": "a73b5a665a04adab",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "5cabb239e50705dc",
        "order": 18,
        "width": 11,
        "height": 1
    },
    {
        "id": "104eb9e475228f4d",
        "type": "ui_spacer",
        "z": "ed2bbb03da555077",
        "name": "spacer",
        "group": "5cabb239e50705dc",
        "order": 19,
        "width": 11,
        "height": 1
    },
    {
        "id": "0ea2fcaaccbfa388",
        "type": "serial-port",
        "serialport": "COM41",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "5cabb239e50705dc",
        "type": "ui_group",
        "name": "Lab",
        "tab": "d1c91507d1e20131",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d2eb5d9f450a3c9",
        "type": "ui_group",
        "name": "Farm",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1c91507d1e20131",
        "type": "ui_tab",
        "name": "Lab",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]
