Farm_Thesis_Slave.json
[
    {
        "id": "bab50f46a84e8b58",
        "type": "tab",
        "label": "플로우 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "908fdb03555e6a23",
        "type": "serial in",
        "z": "bab50f46a84e8b58",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "fd22caf8e83c9ead"
            ]
        ]
    },
    {
        "id": "984f48b2ec3d1fbc",
        "type": "json",
        "z": "bab50f46a84e8b58",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "ddef3ff94341d97d"
            ]
        ]
    },
    {
        "id": "9cd9fa36b5d6c498",
        "type": "ui_gauge",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "d473618405e2da08",
        "type": "ui_gauge",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 8,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "Relative Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "fd22caf8e83c9ead",
        "type": "function",
        "z": "bab50f46a84e8b58",
        "name": "",
        "func": "var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "984f48b2ec3d1fbc",
                "26acb7c7e1dd4b0b",
                "3f088a5be895f9a4",
                "6ae4ac52f0d9f577"
            ]
        ]
    },
    {
        "id": "91c1d6837c6a2993",
        "type": "switch",
        "z": "bab50f46a84e8b58",
        "name": "",
        "property": "parts.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Dew_Temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Absolute_Humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Vapor_pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VPD",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CO2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "9cd9fa36b5d6c498",
                "fb81d2d2d38264d3"
            ],
            [
                "d473618405e2da08",
                "8d9088d5369de1bd"
            ],
            [
                "8a889532901f2f8c",
                "25ef7e3d41f86da4"
            ],
            [
                "fbddf2529c4fcfed",
                "d7063b17c85fdcb8"
            ],
            [
                "b502b6be61b0b913",
                "b33d27212fa01e28"
            ],
            [
                "7fa9c62d42df22ab",
                "3e38c9af77a95eab"
            ],
            [
                "ee071c8f573930a1",
                "1edcf474745a3de2"
            ]
        ]
    },
    {
        "id": "ddef3ff94341d97d",
        "type": "split",
        "z": "bab50f46a84e8b58",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 260,
        "wires": [
            [
                "91c1d6837c6a2993"
            ]
        ]
    },
    {
        "id": "8a889532901f2f8c",
        "type": "ui_gauge",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Dew-point Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "fbddf2529c4fcfed",
        "type": "ui_gauge",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 12,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Absolute Humidity",
        "label": "g/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "b502b6be61b0b913",
        "type": "ui_gauge",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 14,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Vapour Pressure",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "7fa9c62d42df22ab",
        "type": "ui_gauge",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 10,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "VPD",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "6ae4ac52f0d9f577",
        "type": "ui_text",
        "z": "bab50f46a84e8b58",
        "group": "4d2eb5d9f450a3c9",
        "order": 3,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "d80cf6233c4aa97c",
        "type": "ui_text",
        "z": "bab50f46a84e8b58",
        "group": "4d2eb5d9f450a3c9",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Greenhouse Windows",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "ee071c8f573930a1",
        "type": "ui_gauge",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 16,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "CO2",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 580,
        "wires": []
    },
    {
        "id": "fb81d2d2d38264d3",
        "type": "ui_chart",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "25ef7e3d41f86da4",
        "type": "ui_chart",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 7,
        "width": 6,
        "height": 4,
        "label": "Dew-point Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d7063b17c85fdcb8",
        "type": "ui_chart",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 13,
        "width": 6,
        "height": 4,
        "label": "Absolute Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b33d27212fa01e28",
        "type": "ui_chart",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 15,
        "width": 6,
        "height": 4,
        "label": "Vapour Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3e38c9af77a95eab",
        "type": "ui_chart",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 11,
        "width": 6,
        "height": 4,
        "label": "VPD",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1edcf474745a3de2",
        "type": "ui_chart",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 17,
        "width": 6,
        "height": 4,
        "label": "CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "8d9088d5369de1bd",
        "type": "ui_chart",
        "z": "bab50f46a84e8b58",
        "name": "",
        "group": "4d2eb5d9f450a3c9",
        "order": 9,
        "width": 6,
        "height": 4,
        "label": "Relative Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "26acb7c7e1dd4b0b",
        "type": "function",
        "z": "bab50f46a84e8b58",
        "name": "replace char",
        "func": "msg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace('{', '');\nmsg.payload = msg.payload.replace('}', '');\nmsg.payload = msg.payload.replace('\"Temperature\",', '');\nmsg.payload = msg.payload.replace('\"Humidity\",', '');\nmsg.payload = msg.payload.replace('\"Dew_Temperature\",', '');\nmsg.payload = msg.payload.replace('\"Absolute_Humidity\",', '');\nmsg.payload = msg.payload.replace('\"Vapor_pressure\",', '');\nmsg.payload = msg.payload.replace('\"VPD\",', '');\nmsg.payload = msg.payload.replace('\"CO2\",', '');\n\nvar newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString();\n\nmsg.payload = date + \",\" + time + \",\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 460,
        "wires": [
            [
                "0b9a5e530390e5e2"
            ]
        ]
    },
    {
        "id": "0b9a5e530390e5e2",
        "type": "file",
        "z": "bab50f46a84e8b58",
        "name": "",
        "filename": "D:/Data/Greenhouse_ENV.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 590,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3f088a5be895f9a4",
        "type": "function",
        "z": "bab50f46a84e8b58",
        "name": "",
        "func": "var obj = JSON.parse(msg.payload);\n\nvar newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString('en-US', { hour12: false});\n\nfunction getTimeStamp() {\n  var d = new Date();\n  var s =\n    leadingZeros(d.getFullYear(), 4) + '-' +\n    leadingZeros(d.getMonth() + 1, 2) + '-' +\n    leadingZeros(d.getDate(), 2) + ' ' +\n\n    leadingZeros(d.getHours(), 2) + ':' +\n    leadingZeros(d.getMinutes(), 2) + ':' +\n    leadingZeros(d.getSeconds(), 2);\n\n  return s;\n}\n\nfunction leadingZeros(n, digits) {\n  var zero = '';\n  n = n.toString();\n\n  if (n.length < digits) {\n    for (i = 0; i < digits - n.length; i++)\n      zero += '0';\n  }\n  return zero + n;\n}\n\nmsg.topic = \"INSERT INTO greenhouse.sensor(Temperature, Humidity, Dew_Temperature, Absolute_Humidity, Vapor_pressure, VPD, CO2, `date`)\";\nmsg.topic += \"VALUES(\" + obj['Temperature'] + \", \" + obj['Humidity'] + \", \" +  obj['Dew_Temperature'] + \", \" + obj['Absolute_Humidity'] + \", \" + obj['Vapor_pressure'] + \", \" +  obj['VPD'] + \", \" + obj['CO2'] + \", +  current_timestamp());\";\nmsg.payload = {\"Temperature\":0, \"Humidity\":0, \"Dew_Temperature\":0, \"Absolute_Humidity\":0, \"Vapor_pressure\":0, \"VPD\":0, \"CO2\":0, \"date\": \"2021-01-03 00:00:00\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 540,
        "wires": [
            [
                "aaec6798e8994919"
            ]
        ]
    },
    {
        "id": "aaec6798e8994919",
        "type": "Stackhero-MySQL",
        "z": "bab50f46a84e8b58",
        "server": "77c1133f94eacae3",
        "name": "GreenhouseDB",
        "x": 480,
        "y": 540,
        "wires": [
            [
                "eae83f560b6d215b"
            ]
        ]
    },
    {
        "id": "eae83f560b6d215b",
        "type": "debug",
        "z": "bab50f46a84e8b58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "b6317e8722b66ad3",
        "type": "function",
        "z": "bab50f46a84e8b58",
        "name": "insert an item into DB",
        "func": "msg.topic = \"INSERT INTO greenhouse.sensor (Temperature, Humidity, Dew_Temperature, Absolute_Humidity, Vapor_pressure, VPD, CO2, `date`)\";\nmsg.topic += \"VALUES(0, 0, 0, 0, 0, 0, 0, current_timestamp());\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 600,
        "wires": [
            [
                "aaec6798e8994919"
            ]
        ]
    },
    {
        "id": "733d9654cfb03fc5",
        "type": "inject",
        "z": "bab50f46a84e8b58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO db;",
        "payload": "{\"Temperature\":0,\"Humidity\":0,\"Dew_Temperature\":0,\"Absolute_Humidity\":0,\"Vapor_pressure\":0,\"VPD\":0,\"RSW\":0,\"LSW\":0,\"RUW\":0,\"LUW\":0,\"C_Fan\":0,\"Fan\":0,\"Water\":0,\"Motor\":0,\"Rain\":0,\"Light\":0,\"C_Light\":0,\"date\":\"2021-01-03 00:00:00\"}",
        "payloadType": "json",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "b6317e8722b66ad3"
            ]
        ]
    },
    {
        "id": "25d5f76bcf5fbe13",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d72a5714e9dbff31",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "0df27e413dd04f9f",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "8da78188019a0fc3",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "31ce1e9adba3835c",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "877efa749eb438cf",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "f5f4a25694847dda",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "9d3fa480aef39384",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "c688cd0ebcfa0d3f",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "4d2eb5d9f450a3c9",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "2a164b35f36a83f6",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "4d2eb5d9f450a3c9",
        "order": 18,
        "width": 11,
        "height": 1
    },
    {
        "id": "a50238a52c645b38",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "4d2eb5d9f450a3c9",
        "order": 19,
        "width": 11,
        "height": 1
    },
    {
        "id": "95fdbc72dc815d8f",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "4d2eb5d9f450a3c9",
        "order": 20,
        "width": 11,
        "height": 1
    },
    {
        "id": "502cdc33f02e2a6c",
        "type": "ui_spacer",
        "z": "bab50f46a84e8b58",
        "name": "spacer",
        "group": "4d2eb5d9f450a3c9",
        "order": 21,
        "width": 11,
        "height": 1
    },
    {
        "id": "90c2d770290e3da8",
        "type": "serial-port",
        "serialport": "COM16",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "4d2eb5d9f450a3c9",
        "type": "ui_group",
        "name": "Farm",
        "tab": "f9167d85e4cda9c6",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "77c1133f94eacae3",
        "type": "Stackhero-MySQL-Server",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "tls": false,
        "database": "greenhouse"
    },
    {
        "id": "f9167d85e4cda9c6",
        "type": "ui_tab",
        "name": "Farm Project",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
